.Report2 {
  .ImagePerformance {
    margin-top: 20px;

    img {
      width: 100%;
    }
  }

  .dataContainer {
    text-align: left;

    .data1,
    .data2 {
      .flexContainer {
        display: flex;
        line-height: 32px;
      }
    }

    .data1 {
      .title {
        font-weight: bold;
        font-size: 20px;
      }

      .flexContainer {
        justify-content: space-between;
      }

      .row1 {
        width: 70%;
      }
      .row2 {
        width: 50%;
      }
      .row3 {
        width: 90%;
      }
    }

    .data2 {
      margin-top: 50px;

      .dataName {
        width: 180px;
      }
    }
  }
}
