.Report4 {
  text-align: left;

  .Comparisons {
    margin-top: 20px;
    line-height: 32px;
    font-size: 20px;

    .text {
      margin-top: 10px;

      .ql-editor {
        padding: 0;

        p {
          font-size: 20px;
        }
      }
    }
  }
}