.Report3 {
  width: 100%;
  text-align: left;
  position: relative;

  .Result {
    margin-top: 40px;
    line-height: 32px;
    font-size: 20px;

    .title {
      font-weight: bold;
    }

    .text {
      margin-top: 10px;

      .ql-editor {
        padding: 0;

        p {
          text-indent: 2em;
          font-size: 20px;
        }
      }
    }
  }

  .ReportInfo {
    width: 1064.56px;
    display: flex;
    position: absolute;
    bottom: 105px;
    font-size: 20px;
    vertical-align: bottom;

    .dataName {
      width: 105px;
      height: 35px;
      line-height: 35px;
    }

    Input {
      width: 245px;
      margin-right: 15px;
      border-bottom: 1px solid #000;
      text-align: center;
      border-radius: 0;
      font-size: 20px;
    }
    Input:last-child {
      margin-right: 0;
    }
  }
}
